body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: #343a40; /* Dark background color */
  color: #ffffff; /* Light text color */
  padding: 20px;
}

.container {
  margin-top: 20px;
}

.time-block {
  border: 1px solid #dee2e6; /* Light border color */
  margin-bottom: 10px;
  border-radius: 10px;
}

.hour {
 /* background-color: #f8f9fa;  Light background color for hours */
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}

.description {
  background-color: #ffffff; /* White background for text area */
  color: #495057; /* Dark text color */
  border-top: black 1px solid;
  resize: none;
  padding: 10px;
  height: 100px;
  border-radius: 0 0 10px 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}


.past {
  background-color: #f37e7e; 
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #c8e6c9;
  color: white;
}

.saveBtn {
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  background-color: #007bff; /* Blue for save button */
  color: #ffffff;

}

.saveBtn i {
  font-size: 18px;
}
.saveBtn i:hover {
  background-color: #0056b3; /* Darker blue on hover */
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.event-saved {
  background-color: #77dd77 !important; /* Green color for saved events */ 
  color: white;
}
